<div class="row">
    @for (data of vehiculosWidgets; track $index) {
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-grow-1">
                        <div class="avatar-sm">
                            <div class="avatar-title bg-{{data.imgBg}}-subtle text-{{data.imgBg}} rounded fs-xl">
                                <i class="{{data.img}}"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <p><span class="text-{{data.iconColor}} me-1"><i class="{{data.icon}} fs-sm align-middle"></i>
                                +{{data.num}} %</span> than last week</p>
                    </div>
                </div>
                <h4 class="fw-semibold mb-3"><span class="counter-value"></span>{{data.label}}
                </h4>
                <p class="fw-medium text-muted mb-0">{{data.title}}</p>
            </div>
        </div>
    </div><!--end col-->
    }
</div><!--end row-->

<div class="row">
    <div class="col-lg-8">
        <div class="card" id="contactList">
            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">Vehículos registrados <span
                                class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                    </div><!--end col-->
                    <div class="col-lg-6">
                        <div class="search-box">
                            <input type="text" class="form-control search"
                                placeholder="Search for courses, price or something..." [(ngModel)]="term"
                                (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <!-- <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Agregar vehículo</a>

                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card p-3">
                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Marca</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('orderId')">Modelo</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('shop')">Año</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Nº Placa</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('product')">Color</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('amount')">Tipo de vehículo
                                </th>
                                <!-- Tipo de vehículo (automóvil, motocicleta, camión, etc.). -->
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('rating')">KM Actual</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Estado</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of vehiculosRegistrados; track $index) {
                            <tr>
                                <td class="order_date">
                                    {{data.marca}}
                                </td>
                                <td class="order_id">
                                    <a routerLink="/ecommerce/order-overview"
                                        class="fw-medium link-primary">{{data.modelo}}</a>
                                </td>
                                <td class="shop">
                                    <!-- <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle"> -->
                                    {{data.anio}}
                                </td>
                                <td class="customer">
                                    {{data.placa}}
                                </td>
                                <td class="products">{{data.color}}</td>
                                <td class="amount">
                                    <span class="fw-medium">{{data.tipoVehiculo.nombres}}</span>
                                </td>

                                <td class="rating">
                                    <h5 class="fs-md fw-medium mb-0">
                                        {{data.kmActual| number}}
                                    </h5>
                                </td>
                                <td class="status">
                                    <span class="badge" [ngClass]="{
                                    'bg-danger-subtle text-danger': data.estado === 'I',
                                    'bg-success-subtle text-success': data.estado === 'A'}">{{data.estado === 'A' ?
                                        "Activo": "Inactivo"}}</span>
                                </td>
                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <li>
                                            <a routerLink="/tickets/overview"
                                                class="btn btn-subtle-primary btn-icon btn-sm "><i
                                                    class="ph-eye"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="editList($index)"
                                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i
                                                    class="ph-pencil"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="removeItem(data.id)"
                                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i
                                                    class="ph-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr><!-- end tr -->
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
                <!-- <div id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div> -->
                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">{{vehiculosRegistrados?.length}}</span> of <span
                                class="fw-semibold">{{vehiculosRegistradosList?.length}}</span> Results
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack gap-2 justify-content-center"
                            [totalItems]="vehiculosRegistradosList?.length" [itemsPerPage]="10"
                            (pageChanged)="pageChanged($event,1)"></pagination>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-auto me-auto">
                        <h6 class="card-title mb-0">Choferes registrados <span
                                class="badge bg-primary ms-1 align-baseline">2</span></h6>
                    </div><!--end col-->

                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <button class="btn btn-subtle-danger d-none" id="remove-actions"><i
                                    class="ri-delete-bin-2-line"></i></button>
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Agregar</a>
                            <!-- <a href="javascript:void(0);"  class="btn btn-subtle-primary"><i class="ph ph-eye-bold align-baseline"></i> Todos</a> -->
                            <a routerLink="/learning/category" class="icon-link icon-link-hover">Ver más <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 252px;">
                    <div class="vstack gap-2">
                        <!-- @for (data of produtlist; track $index) { -->
                        @for (data of choferesList; track $index) {
                        <div class="p-2 border border-dashed">
                            <div class="d-flex align-items-center gap-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-light rounded">
                                        <img src="{{data.img}}" alt="" class="avatar-xs">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <a href="javascript:void(0);">
                                        <h6 class="fs-md mb-2">{{data.nombres}}</h6>
                                    </a>
                                    <ul class="hstack list-unstyled gap-2 mb-0 fs-sm fw-medium text-muted">
                                        <li>
                                            <i class="ph-police-car-light align-baseline"
                                                style="font-size: 1.1rem;"></i> {{data.carro}}
                                        </li>

                                    </ul>
                                </div>
                                <div class="text-end">
                                    <h5 class="fs-md text-primary mb-0">{{ data.deuda | currency:'$' }}</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button class="btn btn-secondary btn-icon btn-sm"><i
                                            class="ph-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </ngx-simplebar>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-auto me-auto">
                        <h6 class="card-title mb-0">Tipos Vehículos <span
                                class="badge bg-primary ms-1 align-baseline">2</span></h6>
                    </div><!--end col-->

                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <button class="btn btn-subtle-danger d-none" id="remove-actions"><i
                                    class="ri-delete-bin-2-line"></i></button>
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Agregar</a>
                            <a routerLink="/learning/category" class="icon-link icon-link-hover">Ver más <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 252px;">
                    <div class="vstack gap-2">
                        <!-- @for (data of produtlist; track $index) { -->
                        @for (data of tiposVehiculosList; track $index) {
                        <div class="p-2 border border-dashed">
                            <div class="d-flex align-items-center gap-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-light rounded">
                                        <img src="{{data.img}}" alt="" class="avatar-xs">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <a href="javascript:void(0);">
                                        <h6 class="fs-md mb-2">{{data.nombres}}</h6>
                                    </a>

                                </div>
                                <div class="text-end">
                                    <h5 class="fs-md text-primary mb-0">{{ data.deuda | currency:'$' }}</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button class="btn btn-secondary btn-icon btn-sm"><i
                                            class="ph-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </ngx-simplebar>
            </div>
        </div>

    </div><!--end col-->
</div><!--end row-->
<!-- Seccion de Mantenimientos -->
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="regMantList">

            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-4 me-auto">
                        <h6 class="card-title mb-0">Registros Mantenimientos <span
                                class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                    </div><!--end col-->
                    <div class="col-lg-4">
                        <div class="search-box">
                            <input type="text" class="form-control search"
                                placeholder="Search for courses, price or something..." [(ngModel)]="term"
                                (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <!-- <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Agregar Mantenimiento</a>

                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Fecha</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('product')">Tipo</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('orderId')">Vehiculo</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Nº Placa</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('shop')">KM Actual</th>
                                <!-- Tipo de vehículo (automóvil, motocicleta, camión, etc.). -->
                                <th scope="col" (click)="onSort('rating')">Mantenimiento</th>
                                <th scope="col" (click)="onSort('rating')">Descripción</th>
                                <th scope="col" (click)="onSort('rating')">Autonomia</th>
                                <th scope="col" (click)="onSort('rating')">KM Mantenimiento</th>
                                <th scope="col" (click)="onSort('rating')">Proximo Cambio (KM)</th>
                                <th scope="col" (click)="onSort('rating')">KM Faltante</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Estado</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of registroMantenimientos; track $index) {
                            <tr>
                                <td class="order_date">
                                    {{data.fechaRegistro}}
                                </td>
                                <td class="amount">
                                    <span class="fw-medium">{{data.vehiculo.tipoVehiculo.nombre}}</span>
                                </td>
                                <td class="order_id">
                                    <a routerLink="/ecommerce/order-overview"
                                        class="fw-medium link-primary">{{data.vehiculo.marca}} {{data.vehiculo.modelo}}
                                    </a>
                                </td>
                                <td class="shop">
                                    <!-- <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle"> -->
                                    {{data.vehiculo.placa}}
                                </td>
                                <td class="customer">
                                    {{data.vehiculo.kmActual | number}}
                                </td>
                                <td class="products">{{data.tipoMantenimientoDetalle.tipoMantenimiento.nombre}}</td>
                                <td class="products">{{data.tipoMantenimientoDetalle.nombre}}</td>
                                <td class="products">{{ data.tipoMantenimientoDetalle.validarAutonomia==true? (data.tipoMantenimientoDetalle.autonomia |number ):"-"}}</td>
                                <td class="products">{{data.KMActualMantenimiento| number}}</td>
                                <td class="products">{{ data.tipoMantenimientoDetalle.validarAutonomia==true?( data.ProximoCambioKM | number):"-"}}</td>
                                <td class="products">
                                    <span class="badge" [ngClass]="{
                                        'bg-danger-subtle text-danger': data.KmFaltante < 0 ,
                                        'bg-success-subtle text-success': data.KmFaltante > 0 }">
                                        {{data.tipoMantenimientoDetalle.validarAutonomia==true? (data.KmFaltante | number) :"-"}}
                                        </span>                                
                                
                                </td>

                               
                                <td class="status">
                                    <span class="badge" [ngClass]="{
                                    'bg-danger-subtle text-danger': data.estado === 'I',
                                    'bg-success-subtle text-success': data.estado === 'A'}">{{data.estado === 'A' ?
                                        "Activo": "Inactivo"}}</span>
                                </td>
                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <li>
                                            <a routerLink="/tickets/overview"
                                                class="btn btn-subtle-primary btn-icon btn-sm "><i
                                                    class="ph-eye"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="editList($index)"
                                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i
                                                    class="ph-pencil"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="removeItem(data.id)"
                                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i
                                                    class="ph-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr><!-- end tr -->
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
                <div id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">{{registroMantenimientos?.length}}</span> of <span
                                class="fw-semibold">{{registroMantenimientosList?.length}}</span> Results
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack gap-2 justify-content-center"
                            [totalItems]="registroMantenimientosList?.length" [itemsPerPage]="10"
                            (pageChanged)="pageChanged($event,2)"></pagination>
                    </div><!--end col-->
                </div><!--end row-->
            </div>

        </div>
    </div><!--end col-->


</div><!--end row-->
<div class="row">
    <div class="col-lg-12">

        <div class="card card-height-100">
            <div class="card-header d-flex">
                <h5 class="card-title flex-grow-1 mb-0">Tipo Mantenimiento</h5>
                <div class="flex-shrink-0">
                    <a href="javascript:void(0);" class="btn btn-subtle-info btn-sm">View More <i
                            class="ph-caret-right align-middle"></i></a>
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 600px;">
                    <div class="acitivity-timeline acitivity-main">
                        @for (data of tiposMantenimientosDetalleList ; track $index) {
                        <div class="acitivity-item d-flex">
                            <div class="avatar-xs acitivity-avatar">
                                <div class="avatar-title rounded-circle bg-warning-subtle text-warning">
                                    <i class="ri-bookmark-fill"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">{{data.tipoMantenimiento}}</h6>
                                <small class="mb-1 lh-base mb-2">{{data.objetivo}}</small>
                                @for (item of data.mantenimientos ; track $index) {
                                <accordion class="accordion accordion-flush filter-panel mb-2" id="accordionExample">
                                    <accordion-group [isOpen]="true" class="accordion-item">

                                        <h2 accordion-heading class="accordion-header" id="categoryAccordion">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseCategory" aria-expanded="true"
                                                aria-controls="collapseCategory">
                                                {{item.tipoVehiculo}}
                                            </button>
                                        </h2>
                                        <div id="collapseCategory" class="accordion-collapse collapse show"
                                            aria-labelledby="categoryAccordion" data-bs-parent="#categoryFilters">
                                            <div class="accordion-body">
                                                <ul class="list-unstyled mb-0 filter-list">
                                                    @for (det of item.detalles ; track $index) {
                                                    <li>
                                                        <a href="javascript:void(0);"
                                                            class="d-flex py-1 align-items-center">
                                                            <div class="flex-grow-1">
                                                                <h5 class="fs-sm mb-0 listname">{{det.nombre}}</h5>
                                                                <div class="hstack gap-3 flex-wrap mb-4 p-2">
                                                                    <div class="text-muted"><b
                                                                            class="text-body fw-medium">Marca </b>
                                                                        {{det.marca}}</div>

                                                                    @if(det.validarAutonomia) {
                                                                    <div class="vr"></div>
                                                                    <div class="text-muted"><b
                                                                            class="text-body fw-medium">Remplazar cada </b>
                                                                        {{det.autonomia | number}} {{det.validarPor}}</div>
                                                                    }
                                                                    @if(det.cantidad != "0") {
                                                                    <div class="vr"></div>
                                                                    <div class="text-muted"><b
                                                                            class="text-body fw-medium">Cantidad</b>
                                                                        {{det.cantidad}} </div>
                                                                    }
                                                                    <!-- <div class="vr"></div>
                                                                            <div class="text-muted"><b class="text-body fw-medium">100k</b>
                                                                                Reviews</div>
                                                                            <div class="vr"></div>
                                                                            <div class="text-muted">Published : <span class="text-body fw-medium">1000</span></div> -->
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    }


                                                </ul>
                                            </div>
                                        </div>
                                    </accordion-group>


                                </accordion>
                                <br>
                                <!-- <div class="vstack gap-2">
                                        <div class="border py-2 px-3 w-100 rounded d-flex align-items-center mb-1">
                                            <h6 class="text-muted ">{{item}}</h6>
                                        </div>
                                    </div> -->
                                }

                            </div>
                        </div>
                        }

                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</div>