<div class="row">
    @for (data of supportList; track $index) {
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-grow-1">
                        <div class="avatar-sm">
                            <div class="avatar-title bg-{{data.imgBg}}-subtle text-{{data.imgBg}} rounded fs-xl">
                                <i class="{{data.img}}"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <p><span class="text-{{data.iconColor}} me-1"><i class="{{data.icon}} fs-sm align-middle"></i>
                                +{{data.num}} %</span> than last week</p>
                    </div>
                </div>
                <h4 class="fw-semibold mb-3"><span class="counter-value"></span>{{data.label}}
                </h4>
                <p class="fw-medium text-muted mb-0">{{data.title}}</p>
            </div>
        </div>
    </div><!--end col-->
    }
</div><!--end row-->

<div class="row">
    <div class="col-lg-8">
        <div class="card" id="contactList">
            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">Vehículos registrados <span
                                class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                    </div><!--end col-->
                    <div class="col-lg-6">
                        <div class="search-box">
                            <input type="text" class="form-control search"
                                placeholder="Search for courses, price or something..." [(ngModel)]="term"
                                (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <!-- <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Agregar vehículo</a>

                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card p-3">
                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Marca</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('orderId')">Modelo</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('shop')">Año</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Nº Placa</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('product')">Color</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('amount')">Tipo de vehículo
                                </th>
                                <!-- Tipo de vehículo (automóvil, motocicleta, camión, etc.). -->
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('rating')">KM Actual</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Estado</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of vehiculosRegistrados; track $index) {
                            <tr>
                                <td class="order_date">
                                    {{data.marca}}
                                </td>
                                <td class="order_id">
                                    <a routerLink="/ecommerce/order-overview"
                                        class="fw-medium link-primary">{{data.modelo}}</a>
                                </td>
                                <td class="shop">
                                    <!-- <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle"> -->
                                    {{data.anio}}
                                </td>
                                <td class="customer">
                                    {{data.placa}}
                                </td>
                                <td class="products">{{data.color}}</td>
                                <td class="amount">
                                    <span class="fw-medium">{{data.tipoVehiculo}}</span>
                                </td>

                                <td class="rating">
                                    <h5 class="fs-md fw-medium mb-0">
                                        {{data.kmActual}}
                                    </h5>
                                </td>
                                <td class="status">
                                    <span class="badge" [ngClass]="{
                                    'bg-danger-subtle text-danger': data.estado === 'I',
                                    'bg-success-subtle text-success': data.estado === 'A'}">{{data.estado === 'A' ?
                                        "Activo": "Inactivo"}}</span>
                                </td>
                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <li>
                                            <a routerLink="/tickets/overview"
                                                class="btn btn-subtle-primary btn-icon btn-sm "><i
                                                    class="ph-eye"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="editList($index)"
                                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i
                                                    class="ph-pencil"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="removeItem(data.id)"
                                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i
                                                    class="ph-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr><!-- end tr -->
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
                <!-- <div id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div> -->
                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">{{vehiculosRegistrados?.length}}</span> of <span
                                class="fw-semibold">{{vehiculosRegistradosList?.length}}</span> Results
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack gap-2 justify-content-center"
                            [totalItems]="vehiculosRegistradosList?.length" [itemsPerPage]="10"
                            (pageChanged)="pageChanged($event)"></pagination>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <!-- <div class="card-header d-flex align-items-center">
                <h4 class="card-title mb-0 flex-grow-1">Choferes registrados</h4>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown card-header-dropdown">
                        <a href="javascript:void(0);" class="btn btn-secondary"><i
                                class="bi bi-plus-circle align-baseline me-1"></i> Agregar chofer</a>
                                <div>
                                    <button type="button" class="btn btn-info me-1" (click)="openEnd()"><i class="bi bi-funnel align-baseline me-1"></i> Filter</button>
                                    <a routerLink="/learning/grid" class="btn btn-subtle-primary btn-icon me-1"><i class="bi bi-grid"></i></a>
                                    <a routerLink="/learning/list" class="btn btn-subtle-primary active btn-icon"><i class="bi bi-list-task"></i></a>
                                </div>


                    </div>
                </div>
            </div> -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-auto me-auto">
                        <h6 class="card-title mb-0">Choferes registrados <span class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                    </div><!--end col-->
                    <!-- <div class="col-lg-2">
                        <div class="search-box">
                            <input type="text" class="form-control search" placeholder="Search for courses, price or something..." [(ngModel)]="term" (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div> -->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <button class="btn btn-subtle-danger d-none" id="remove-actions" ><i class="ri-delete-bin-2-line"></i></button>
                            <a href="javascript:void(0);"  class="btn btn-secondary"><i class="bi bi-plus-circle align-baseline me-1"></i> Agregar Chofer</a>
                            <a href="javascript:void(0);"  class="btn btn-subtle-primary"><i class="ph ph-eye-bold align-baseline"></i> Todos</a>
                            <!-- <a routerLink="/learning/list" class="btn btn-subtle-primary active btn-icon"><i class="ph ph-arrow-square-in-thin"></i>Todos</a> -->
                            
                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 405px;">
                    <div class="vstack gap-2">
                        <!-- @for (data of produtlist; track $index) { -->
                        @for (data of choferesList; track $index) {
                        <div class="p-2 border border-dashed">
                            <div class="d-flex align-items-center gap-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-light rounded">
                                        <img src="{{data.img}}" alt="" class="avatar-xs">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <a href="javascript:void(0);">
                                        <h6 class="fs-md mb-2">{{data.nombres}}</h6>
                                    </a>
                                    <ul class="hstack list-unstyled gap-2 mb-0 fs-sm fw-medium text-muted">
                                        <li>
                                            <i class="ph-police-car-light align-baseline"
                                                style="font-size: 1.1rem;"></i> {{data.carro}}
                                        </li>
                                        <li>
                                            <i class="ph-shopping-cart align-baseline"></i> {{data.cart}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-end">
                                    <h5 class="fs-md text-primary mb-0">{{ data.deuda | currency:'$' }}</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button class="btn btn-secondary btn-icon btn-sm"><i
                                            class="ph-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<!-- Seccion de Mantenimientos -->
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="regMantList">

            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">Registros Mantenimientos <span
                                class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                    </div><!--end col-->
                    <div class="col-lg-2">
                        <div class="search-box">
                            <input type="text" class="form-control search"
                                placeholder="Search for courses, price or something..." [(ngModel)]="term"
                                (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <!-- <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                            <a href="javascript:void(0);" class="btn btn-secondary"><i
                                    class="bi bi-plus-circle align-baseline me-1"></i> Add Course</a>

                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Marca</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('orderId')">Modelo</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('shop')">Año</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Nº Placa</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('product')">Color</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('amount')">Tipo de vehículo
                                </th>
                                <!-- Tipo de vehículo (automóvil, motocicleta, camión, etc.). -->
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('rating')">KM Actual</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Estado</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of vehiculosRegistrados; track $index) {
                            <tr>
                                <td class="order_date">
                                    {{data.marca}}
                                </td>
                                <td class="order_id">
                                    <a routerLink="/ecommerce/order-overview"
                                        class="fw-medium link-primary">{{data.modelo}}</a>
                                </td>
                                <td class="shop">
                                    <!-- <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle"> -->
                                    {{data.anio}}
                                </td>
                                <td class="customer">
                                    {{data.placa}}
                                </td>
                                <td class="products">{{data.color}}</td>
                                <td class="amount">
                                    <span class="fw-medium">{{data.tipoVehiculo}}</span>
                                </td>

                                <td class="rating">
                                    <h5 class="fs-md fw-medium mb-0">
                                        {{data.kmActual}}
                                    </h5>
                                </td>
                                <td class="status">
                                    <span class="badge" [ngClass]="{
                                    'bg-danger-subtle text-danger': data.estado === 'I',
                                    'bg-success-subtle text-success': data.estado === 'A'}">{{data.estado === 'A' ?
                                        "Activo": "Inactivo"}}</span>
                                </td>
                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <li>
                                            <a routerLink="/tickets/overview"
                                                class="btn btn-subtle-primary btn-icon btn-sm "><i
                                                    class="ph-eye"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="editList($index)"
                                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i
                                                    class="ph-pencil"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="removeItem(data.id)"
                                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i
                                                    class="ph-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr><!-- end tr -->
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
                <div id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">{{vehiculosRegistrados?.length}}</span> of <span
                                class="fw-semibold">{{vehiculosRegistradosList?.length}}</span> Results
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack gap-2 justify-content-center"
                            [totalItems]="vehiculosRegistradosList?.length" [itemsPerPage]="10"
                            (pageChanged)="pageChanged($event)"></pagination>
                    </div><!--end col-->
                </div><!--end row-->
            </div>

        </div>
    </div><!--end col-->

</div><!--end row-->